<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <security>
        <ipSecurity enableProxyMode="true" allowUnlisted="true" denyAction="NotFound">
            <add allowed="true" ipAddress="23.97.72.80"/>
            <add allowed="true" ipAddress="23.97.67.25"/>
            <add allowed="true" ipAddress="23.97.66.230"/>
            <add allowed="true" ipAddress="23.97.70.93"/>
        </ipSecurity>
    </security>
  </system.webServer>
</configuration>